@{
    Layout = "_Layout";  
}
@model Pharmacy.Models.PharmacyItem

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-8 p-4 border rounded border-2 border-primary bg-light custom-width">
            <h2 class="text-center mb-4">Add Item</h2>
            <form asp-action="Create" asp-controller="Pharmacy" method="post">
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="ID" class="form-label">ID</label>
                        <input type="text" class="form-control" id="ID" name="ID" required>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="Description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="Description" name="Description" required>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="col-md-6">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="Category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="Category" name="Category" required>
                    </div>
                    <div class="col-md-6">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" id="image" name="image">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
<a href="/Pharmacy/Index" class="btn btn-primary mt-2 mb-2">Display</a>



